@import '../../mixins.scss';
@import '../../variables.scss';

.search {
  .search-input {
    box-sizing: border-box;
    padding: 0;
    padding-left: 16px;
    padding-right: 34px;
    width: 584px;
    height: 48px;
    background: rgba($color: #f7f7f7, $alpha: 0.24);
    border-radius: 3px;
    border: none;
    @include inputFont;
    @include backImg;
    background-image: url('../../img/icons/search.svg');
    @include transition;
  }
  ::placeholder {
    @include inputFont;
    @include transition;
  }
  :focus {
    outline: none;
  }
  @include transition;

  @include phone {
    .search-input {
      color: $fontColor;
      background: rgba($color: $actBgrColor, $alpha: 1);
      @include backImg;
      background-image: url('../../img/icons/activeSearch.svg');
    }
    ::placeholder {
      color: $actHeaderColor;
    }
    transition: none;
  }
}
