@import './mixins.scss';

$banner1: './img/banner/01.png';
$banner2: './img/banner/02.png';
$titleColor: #fff;

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 1024px;
  background-image: url($banner1);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top 24px;
  font-family: 'Poppins';
  .main-title {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    color: $titleColor;
  }
  @include phone {
    height: 890px;
    background-repeat: no-repeat;
    background-size: 254% 54%;
    background-position: top right 35%;
  }
}
