$banner: './img/banner/01.png';
$titleColor: #fff;

.App {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  height: 1024px;
  background: url($banner);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top 24px;
  font-family: 'Poppins';
  .main-title {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    color: $titleColor;
  }
}
