@import './mixins.scss';

$banner1: './img/banner/01.png';
$banner2: './img/banner/02.png';
$titleColor: #fff;

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  font-family: 'Poppins';
  .with-image {
    height: 681px;
    background-image: url($banner1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top 24px;

    .main-title {
      margin-top: 180px;
      margin-bottom: auto;
      font-weight: bold;
      font-size: 60px;
      line-height: 90px;
      text-align: center;
      color: $titleColor;
    }
  }

  @include phone {
    .with-image {
      height: 480px;
      background-position: top right 35%;
    }
  }
}
