$headerColor: #fff;

.header {
  width: 100%;
  .header-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: $headerColor;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
    background: linear-gradient(
      rgba(51, 51, 51, 0.5),
      rgba(27, 27, 27, 0.2),
      rgba(0, 0, 0, 0)
    );
    .logo {
      font-weight: bold;
      font-size: 38px;
      line-height: 57px;
      letter-spacing: 0.95px;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
      margin: 0;
    }
    .search-nav-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .auth-cart-container {
    display: flex;
    align-items: center;
    .auth-link {
      font-weight: 600;
      font-size: 11px;
      line-height: 16px;
      text-align: right;
      letter-spacing: 1px;
      text-decoration: none;
      color: $headerColor;
      margin-right: 17px;
    }
  }
}
