@import '../../mixins.scss';

$bgrColor: #fff;

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7f7f7;

  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 146px;
    background-color: $bgrColor;
    .register-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 440px;
      .register-text {
        margin: 0;
        margin-bottom: 14px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.872727px;
        color: #000000;
      }
      .register {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .register-email {
          flex-grow: 1;
          border: 1px solid #e1e0e1;
          box-sizing: border-box;
          border-radius: 3px;
          max-width: 334px;
          height: 32px;
          margin-right: 12px;
          padding-left: 12px;
          @include registerFont();
        }
        ::placeholder {
          @include registerFont();
        }
        :focus {
          outline: none;
        }
        .register-btn {
          flex-grow: 1;
          max-width: 94px;
          height: 32px;
          background-color: #000000;
          font-weight: 600;
          font-size: 10px;
          line-height: 20px;
          text-align: center;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #ffffff;
          border-radius: 3px;
          border: none;
        }
      }
    }
  }

  .menu-container {
    display: flex;
    width: 891px;
    justify-content: space-between;
    margin-top: 26px;
    .menu-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &:last-child {
        justify-content: flex-start;
      }
      .section-title {
        font-family: 'Cormorant Garamond';
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1.16364px;
        color: #000000;
        margin: 0;
        margin-bottom: 17px;
      }
      .links {
        display: flex;
        flex-direction: column;
        .link {
          font-size: 12px;
          line-height: 19px;
          letter-spacing: 0.1px;
          text-decoration: none;
          color: #000000;
          margin-bottom: 6px;
        }
        :last-child {
          margin-bottom: 0;
        }
      }
      #social {
        flex-direction: row;
        margin-bottom: 0;
        .link {
          margin-right: 16px;
        }
        :last-child {
          margin-right: 0;
        }
      }
    }
    :last-child {
      margin-right: 0;
    }
  }
  .copyright {
    margin: 0;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #000000;
    margin-top: 38px;
    margin-bottom: 14px;
  }

  @include phone {
    .register-container {
      height: 100%;
      .register-content {
        padding: 24px 16px;
      }
    }

    .menu-container {
      box-sizing: border-box;
      padding: 0 16px;
      margin-top: 16px;
      width: 100%;
      flex-direction: column;
      .menu-section {
        width: 100%;
        height: 32px;
        border-bottom: 1px solid #e1e0e1;
        align-items: flex-start;
        margin-bottom: 11px;
        background: url('../../img/icons/chevron.svg') no-repeat right 16px top;
        .section-title {
          margin: 0;
          margin-left: 16px;
        }

        .links {
          display: none;
        }

        &:last-child {
          background: none;
          border: none;
          align-items: center;
          margin-top: 12px;
          margin-bottom: 16px;
          .section-title {
            display: none;
          }
          #social {
            display: flex;
          }
        }
      }
    }
    .copyright {
      margin-top: 0;
    }
  }
}
